body {
  background: #000000 url(../../images/darkgrey.jpg) repeat left top;
  font-family: "mako", verdana, sans-serif;
  font-size: 14px;
	line-height: 1.7em;
	color: #ffffff;
}

#wrapper {
	margin: 0 auto;
	float: center;
	padding: 0;
	width: 95%;
}

a {
  text-decoration: none;
	color: #F7CD78;
}

a:hover {
  text-decoration: underline;
}

.sidebar {
  float: right;
  width: 25%;
  margin-left: 0px;
  margin-right: 10px;
}

.main {
  float: left;
  width: 65%;
  margin-right: 0px;
  margin-left: 10px;
}
  
  
  
