body {
  background: #000000 url(../../images/darkgrey.jpg) repeat left top;
  font-family: "mako", verdana, sans-serif;
  font-size: 14px;
	line-height: 1.7em;
	color: #ffffff;
}

a {
  text-decoration: none;
	color: #F7CD78;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

//DEBUG

header, footer, .sidebar, .main {
  border: #FFFFFF 2px dashed;
}

header, footer{
  margin: 10px;
  padding: 10px;
  background-color: #f22222;
  width: 100%;
  color: #00ADEF
  margin: 10px;
}

footer {
    clear: both;
}


.sidebar {
  float: right;
  width: 25%;
  margin-left: 0px;
  margin-right: 10px;
}

.main {
  float: left;
  width: 65%;
  margin-right: 0px;
  margin-left: 10px;
}
  
  
  
#wrapper {
	margin: 0 auto;
	float: left;
	padding: 0;
	width: 95%;
	//height: 2000px;
	//background-color: #ffffff;
}